
/* navbar */
button{
    color: #f8a488 !important;
    border-color: #f8a488 !important;
    font-size: 20px !important;
}

.hamburger{
    background-color: #f8a488 !important;
}

button:hover {
    color: white !important;
    background-color: #f8a488 !important;
}

.navbar {
    background-color: #212529 !important;
}

.navbar-index {
    background-color: #212529 !important;
}

.navbar-text{
    color: #f8a488 !important;
    font-size: 22px !important;
}

.navbar-text:hover{
    color:white !important;
}

.active{
    color: white !important;
    font-size: 22px !important;
}

/* body */
body{
    background-color: #f5e8c7 !important;
}

p {
    font-size: 19px !important;
}

.accent{
    color: #f8a488 !important;
}

.navbar-toggle{
    background-color: #f8a488;
}

.signin{
    padding-top: 20%;
    justify-content: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 19%;
}

.confirm{
    background-color: #212529 !important;
}

input{
    background-color:#212529 !important;
    color:white !important; 
    border-color:#f8a488 !important;

}

input.active{
    border-color: #f8a488 !important;
    box-shadow: #f8a488 !important;
}

.card{
    background-color: #212529;
    color:white;

}

.cards{
    padding-top: 5%;
}


